<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 todo-container">
      <h3 class="text-center">Add Task</h3>
      <div class="todo-layout">
        <form class="form-block mt-3" [formGroup]="myForm">
          <div>
            <div class="input-class">
              <input type="text" class="form-control" formControlName="task">
              <button type="submit" class="add-class" *ngIf="!isEdit" (click)="onAdd()"
                [disabled]="!myForm.valid">ADD</button>
              <button type="submit" class="update-class" *ngIf="isEdit" (click)="onUpdate()"
                [disabled]="!myForm.valid">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col md-3 progress-container">
          <h3 class="text-center">To Do</h3>
          <ul>
            <li *ngFor="let item of todos; let i = index">
              <div class="task-layout">
                <div style="width: 50%;" class="title">
                  {{item.title}}
                </div>
                <div class="btn-class">
                  <button (click)="onEdit(item,i)" class="icon-button"><i class="fa-solid fa-pen fa-2x"></i></button>
                  <button (click)="onProgress(item,i)" class="icon-button" [disabled]="isEdit"><i
                      class="fa-solid fa-circle-arrow-right fa-2x"></i></button>
                  <button (click)="todoDelete(i)" class="icon-button" [disabled]="isEdit"><i
                      class="fa-solid fa-trash-can fa-2x"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="col md-3 progress-container">
          <h3 class="text-center">In progress</h3>
          <ul>
            <li *ngFor="let item of progressTask; let i = index">
              <div class="task-layout">
                <div style="width: 50%;" class="title">
                  {{item.title}}
                </div>
                <div class="btn-class">
                  <button (click)="onComplete(item,i)" class="icon-button" [disabled]="isEdit"><i
                      class="fa-solid fa-circle-check fa-2x"></i></button>
                  <button (click)="progressDelete(i)" class="icon-button" [disabled]="isEdit"><i
                      class="fa-solid fa-trash-can fa-2x"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="col md-3 done-container">
          <h3 class="text-center">Done</h3>
          <div class="done-layout" *ngIf="completedTask.length>0">
            <ul>
              <li *ngFor="let item of completedTask">
                <div class=" title">
                  {{item.title}}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>